
.keys {
    background-color: rgb(80, 80, 226);
    color:#FFF;
    border-radius: 15%;
    margin:5px;
    width:50px;
    height:50px;
    border: rgb(19, 12, 122);
    text-align:center;
}
#calculator{
    background-color: rgb(19, 12, 122);
    width:255px;
    border-radius: 7%;
    height:300px;
    padding:10px;
    margin: 0 auto;

}
#input{
    border-radius: 5%;
    background-color:  rgb(19, 12, 122);
    border: rgb(19, 12, 122);
    width:187px;
    color: #FFF;
    height:30px;
    padding:10px;
    text-align: left;
}